.profilePic {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profileContainer {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .profilePic {
        width: 100%
    }
}